.modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 400px;

    align-self: center;

    border-radius: 10px;
    background-color: var(--body-bk-color);

    margin-top: 20px;

    padding: 20px;
    box-sizing: border-box;
}