.container {
    position: relative;
    display: flex;
    height: 100%;
}

.controlPanel {
    position: fixed;
    right: -20px;
    top: 60px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

    width: 340px;
    padding: 20px;
    background-color: var(--body-bk-color);
    border-right: 1px solid #ddd;
    overflow-y: auto;

    box-sizing: border-box;

    transition: right 0.3s ease, transform 0.3s ease;

    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5), 5px 0 5px rgba(0, 0, 0, 0.5);
}

.controlPanel.active {
    right: 319px;
}

.cpvbtn {
    z-index: 500;
    right: calc(var(--sidebar-width) + 30px);
}

.buttonGroup {
    gap: 10px;
}
