.cringe {
    height: 600px;
    border: 2px solid var(--accent-color);
}

.clear {
    background: var(--error-color);
    color: var(--inverse-font-color);
}
.clear:hover {
    background: var(--error-hover-color);
}
.clear:active {
    background: var(--error-active-color);
}

.cringeItem {
    position: relative;
    width: 340px;
}
.cringeItem.pending {

}

.awaitDeleteItemButton {
    position: absolute;
    right: 0;
    top: 0;
}